
  
 <div id="Sidebar" class=" col-md-2"> 
  <div class="container">
         
<img src="./images/me.jpg" class="img-circle" alt="Behnaz" width="204" height="180"> 
</div>  
    <hr>
    <div class="card w-100 bg-info">
      <div class="card-body">
        <h6 class="card-title">Join my NewsLetter Here</i></h6>
        <p class="card-text">
          <input type="form-control" placeholder="email@example.com" >
        </p>
        <p><a href="#" class="btn btn-primary">Join Now!</a></p>
      </div>
    </div>
    <hr>
      <div class="card  bg-light">
        <div class="card-body">
         
            <p><span class="glyphicon glyphicon-map-marker"></span>Ontario, Canada</p>
            <p><span class="glyphicon glyphicon-phone"></span>Phone: +16476242780</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Behnaz.hajibandeh@gmail.com</p>
         
          
        </div>
    </div>
  </div>