<% include partials/header.ejs %>
<body class="container-fluid">


        <div id="Body" class="row" >
          <% include partials/sidebar.ejs %>

      <div id="Content" class="col-md-10">
        
        <% if (title == "Projects") { %>

          <div class="alert alert-success">
            <strong>My Projects!</strong> This page is a short list of my projects...
          </div>
                 
<div class="media">
  <div class="media-left">
    <img src="./images/22.jpg" class="media-object" style="width:200px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">CRM Software</h4>
    <p>Oct2020-May2021 <br />
      specializes in implementing enhancements for a CRM system based on any business requirements</p>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <img src="./images/33.jpg" class="media-object" style="width:200px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Inventory Management Software Development</h4>
    <p>Oct2017-May2020 <br />
      Organized data and generated app.</p>
  </div>
</div>

<div class="media">
  <div class="media-left">
    <img src="./images/11.jpg" class="media-object" style="width:200px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Health Software</h4>
    <p>March2016 - December 2020 <br />
      Designed database tables and structures and convert data</p>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <img src="./images/33.jpg" class="media-object" style="width:200px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Invcoice Foulad Software</h4>
    <p>May 2011 - October 2012 <br />
      Analyzed existing SQL queries for performance improvements</p>
  </div>
</div>
    
        <% } else { %>
          <div>
            <p>AboutMe Page</p>
          </div>
        <% } %>   
      </div>
  </div>
  <hr>
  <div id="Footer" class="row bg-primary text-white bg-opacity-50" >
      <% include partials/Footer.ejs %>